<% classes.forEach(function(classroom) { %>
<div class="media">
  <div class="media-left media-middle">
    <a href="/teachers/classes/<%= classroom.id %>">
      <i class="fa-solid fa-file-pen"></i>
    </a>
  </div>
  <div class="media-body">
    <a href="/teachers/classes/<%= classroom.id %>" class="media-heading">
      <%= classroom.name %>
    </a>
  </div>
</div>
<%}) %>
