<div class="media" style="display: flex; flex-direction: column">
  <div class="media-left media-middle">
    <a href="/students/classes">
      <i class="fa-solid fa-file-pen"></i>
    </a>
    <a href="/students/classes" class="media-heading"> Get list class </a>
  </div>
  <br />
  <div class="media-left media-middle">
    <a href="/students/result-storage">
      <i class="fa-solid fa-file-pen"></i>
    </a>
    <a href="/students/result-storage" class="media-heading"> Your Cid </a>
  </div>

  <br />
</div>
