<div class="media" style="display: flex; flex-direction: column">
  <div class="media-left media-middle">
    <a href="/teachers/class/create">
      <i class="fa-solid fa-file-pen"></i>
    </a>
    <a href="/teachers/classes/create" class="media-heading"> Create class </a>
  </div>
  <br />
  <div class="media-left media-middle">
    <a href="/teachers/class/create">
      <i class="fa-solid fa-file-pen"></i>
    </a>
    <a href="/teachers/classes" class="media-heading"> Get list class </a>
  </div>
  <br />
  <div class="media-left media-middle">
    <a href="/teachers/exams/create">
      <i class="fa-solid fa-file-pen"></i>
    </a>
    <a href="/teachers/exams/create" class="media-heading"> Create new exam </a>
  </div>
  <br />
</div>
